@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header{
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* Equation in chapter 2 */
#chapter-2 blockquote:nth-of-type(2){
	text-align: center;
}

/* Visiting card in chapter 12 */
#chapter-12 blockquote:last-child{
	border: 1px solid;
	max-width: 16em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	text-align: center;
	font-style: italic;
	break-inside: avoid;
}

#chapter-12 blockquote:last-child *:first-line{
	font-size: 1.125em;
}
